/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Raleway:400,300,200,100|Quicksand:400,300|Handlee|Patrick+Hand|Delius|Itim);
 @import "jquery.ui.all";

//
// <mid-gray Color="#6E7C82" RGB: 110, 124, 130 />
// <light-blue Color="#A7C7D2" RGB: 167, 199, 210 />
// <pale-blue Color="#C8DCE3" RGB: 200, 220, 227 />
// <off-white Color="#EDECEE" RGB: 237, 236, 238 />
// <dark-blue Color="#38435E" RGB: 56, 67, 94 />

// FONTS:
// font-family: 'Raleway', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Handlee', cursive;
// font-family: 'Patrick Hand', cursive;
// font-family: 'Delius', cursive;
// font-family: 'Itim', cursive;

body {
  background: #C8DCE3;
  text-align:center;
  font-family: 'Raleway', sans-serif;
}

.quote {
  background: #EDECEE;
  padding: 20px;
  margin: 20px;
  border-radius: 2px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
}

.quote .content {
  font-family: 'Itim', cursive;
  font-size: 2em;
}

.btn {
  background: #A7C7D2;
}
