/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Raleway:400,300,200,100|Quicksand:400,300|Handlee|Patrick+Hand|Delius|Itim);
 @import "jquery.ui.all";

//
// <mid-gray Color="#6E7C82" RGB: 110, 124, 130 />
// <light-blue Color="#A7C7D2" RGB: 167, 199, 210 />
// <pale-blue Color="#C8DCE3" RGB: 200, 220, 227 />
// <off-white Color="#EDECEE" RGB: 237, 236, 238 />
// <dark-blue Color="#38435E" RGB: 56, 67, 94 />

// FONTS:
// font-family: 'Raleway', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Handlee', cursive;
// font-family: 'Patrick Hand', cursive;
// font-family: 'Delius', cursive;
// font-family: 'Itim', cursive;

body {
  background: #C8DCE3;
  text-align:center;
  font-family: 'Raleway', sans-serif;
}

.quote {
  background-image: asset-data-url("handmadepaper.png");
  background-repeat: repeat;
  padding: 20px;
  margin: 20px;
  border-radius: 2px;
  // -webkit-box-shadow: 2px 5px 18px 1px rgba(0,0,0,0.46);
  // -moz-box-shadow: 2px 5px 18px 1px rgba(0,0,0,0.46);
  // box-shadow: 2px 5px 18px 1px rgba(0,0,0,0.46);
}

h1 {
  font-family: 'Quicksand', sans-serif;
}

.quote .content {
  font-family: 'Itim', cursive;
  font-size: 2em;
}

.btn {
  background: #A7C7D2;
}

body {
	background: #E9E9E9;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

nav {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	.navbar-brand {
		a {
			color: #BD1E23;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

#posts {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

#post_show {
	.panel-heading {
		padding: 0;
	}
	.post_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
}

textarea {
  margin-top: 10px;
  width: 100%;
  height: 120px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  background-image: asset-data-url("paper.png");
  background-repeat: repeat;
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.12);
  color: #555555;
  text-align: center;
  overflow: auto;
  font-size: 30px;
  line-height: 32px;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}
